#firsttime {
    margin-top: 20px;
    margin-left: 19px;
}

#pageWrapper {
    width: 100%;
    height: 100%;
}

#menu {
    width: 300px;
    height: 100%;
    float: left;
    background-image: url(../images/car/menu-bg.png);
    background-repeat: repeat;
}

#map {
    position: absolute;
    left: 300px;
    height: 100%;
    width: 100%;
    float: left;
}

#map_canvas {
    width: 100%;
    height: 100%;
}



.clear {
    width: 0;
    height: 0;
    clear: both;
}

input, select, textarea {
    background-color: #FCFCFC;
    border: 1px solid #CCC;
    font-size: 1em;
    padding: 0.2em 0.4em;
}

input {
    text-align: center;
}

html {
    height: 100%;
    width: 100%;
}

html * {
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
}

body, input, select, textarea {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

select[multiple] {
    vertical-align: top;
}

textarea {
    width: 250px;
    height: 150px;
    overflow: auto; /* IE always renders vertical scrollbar without this */
    vertical-align: top;
}

input[type=checkbox], input[type=radio] {
    background-color: transparent;
    border: 0;
    padding: 0;
}

input:focus, select:focus, textarea:focus {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    outline: 0;
    -moz-box-shadow: 0 0 0.5em #ffffff;
    -webkit-box-shadow: 0 0 0.5em #ffffff;
    box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
    color: #48802C;
    display: inline-block;
    font-weight: bold;
    margin-left: 0.3em;
    position: relative;
    top: 0.1em;
}

.buttons input, .buttons a {
    background-color: transparent;
    border: 0;
}

.fieldcontain input {
    color: #777777;
    width: 240px;
    margin-left: 20px;
    margin-top: 10px;
}
.fieldcontain label {
    margin-left: 20px;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.logo {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
}

#login {
    background-image: url(../images/car/enter-button.png);
    background-repeat: no-repeat;
    width: 283px;
    height: 51px;
    cursor: pointer;
    margin-top: 21px;
    margin-left: 8px;
}

#register {
    background-image: url(../images/car/reg-button.png);
    background-repeat: no-repeat;
    width: 298px;
    height: 51px;
    cursor: pointer;
    margin-top: 21px;
    margin-left: 8px;
}

#slider {
    margin-top: 10px;
}