#firsttime {
    margin-top: 20px;
    margin-left: 19px;
}

#pageWrapper {
    width: 100%;
    height: 100%;
}
.message {
    color: #E45D44;
    font-size: 12px;
}

#menu {
    width: 300px;
    float: left;
    background-image: url(../images/car/menu-bg.png);
    background-repeat: repeat;
}

#menu-content {
    margin-left: 20px;
    width:255px;
}

#menu-content input[type=submit] {
    width:252px;
}

#map {
    margin-left: 300px;
}

#map_canvas {
    height: 100%;
    width: 100%;
    position: absolute;
}

.clear {
    width: 0;
    height: 0;
    clear: both;
}

input, select, textarea {
    background-color: #FCFCFC;
    border: 1px solid #CCC;
    font-size: 1em;
    padding: 0.2em 0.4em;
}

input {
    text-align: center;
}

html * {
    margin: 0;
}

body, input, select, textarea {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
    font-size: 14px;
    background-image: url(../images/car/menu-bg.png);
    background-repeat: repeat;
}

select[multiple] {
    vertical-align: top;
}

textarea {
    width: 250px;
    height: 150px;
    overflow: auto; /* IE always renders vertical scrollbar without this */
    vertical-align: top;
}

input[type=checkbox], input[type=radio] {
    background-color: transparent;
    border: 0;
    padding: 0;
}

input:focus, select:focus, textarea:focus {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    outline: 0;
    -moz-box-shadow: 0 0 0.5em #ffffff;
    -webkit-box-shadow: 0 0 0.5em #ffffff;
    box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
    color: #48802C;
    display: inline-block;
    font-weight: bold;
    margin-left: 0.3em;
    position: relative;
    top: 0.1em;
}

.buttons input, .buttons a {
    background-color: transparent;
    border: 0;
}

.fieldcontain input {
    color: #777777;
    width: 240px;
    margin-top: 10px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input, select {
    font-size: 14px;
}

.logo {
    margin-top: 15px;
    margin-bottom: 2px;
}

#login {
    background-image: url(../images/car/enter-button.png);
    background-repeat: no-repeat;
    width: 283px;
    height: 51px;
    cursor: pointer;
    margin-top: 21px;
    margin-left: 8px;
}
.messageBox {
    resize: none;
    height: 50px;
    width: 198px;
}
#register {
    background-image: url(../images/car/reg-button.png);
    background-repeat: no-repeat;
    width: 298px;
    height: 51px;
    cursor: pointer;
    margin-top: 21px;
    margin-left: 8px;
}

.requestDialog {
    width:200px;
    height:150px;
    display: none;
}

#slider {
    margin-left: 7px;
    margin-top: 10px;
    width: 240px;
}
a {
    color: #aaa;
}
a:hover {
    color: #888;
}

#hello {
    margin-left: 10px;
    color: #99CCCC;
}

#amount {
    color: #EFA023;
}

.text {
    color: #829baf;
}

.grey-text {
    color: #ccc;
}

.h {
    color: #253f56;
    font-weight: bold;
}
#office {
    margin-left: 12px;
}

.req {
    margin-top: 6px;
}

.reqLink {
    color: #EFA023;
    cursor: pointer;
}

.reqLink:hover {
    color: #Ed9017;
    cursor: pointer;
}


.info {
    font-size: 14px;
}

.intro {
    margin-top: 20px;
}

.companions-info {
    margin-top: 10px;
    margin-left: 10px;
}

#requests {
    margin-left: 10px;
    color: #aaa;
}

.row {
    margin-top: 10px;
}

.hh {
    color: #Ed9017;
}

.h2 {
    font-weight: bold;
    margin-left: 26px;
    margin-top: 20px;
}

.stext {
    font-size: 14px;
    color: #829baf;
    text-shadow: 1px 1px 2px #111;
}

.margin-top {
    margin-top: 12px;
}

.main-menu-button {
    width: 240px;
    height: 29px;
}

.btn {
    margin-top: 10px;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: whiteSmoke;
    background-image: -moz-linear-gradient(top,white,#E6E6E6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#E6E6E6));
    background-image: -webkit-linear-gradient(top,white,#E6E6E6);
    background-image: -o-linear-gradient(top,white,#E6E6E6);
    background-image: linear-gradient(to bottom,white,#E6E6E6);
    background-repeat: repeat-x;
    border: 1px solid #BBB;
    border-color: #E6E6E6 #E6E6E6 #BFBFBF;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #A2A2A2;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover {
    color: #333;
    text-decoration: none;
    background-color: #E6E6E6;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.btn-success {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5BB75B;
    background-image: -moz-linear-gradient(top,#62C462,#51A351);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#62C462),to(#51A351));
    background-image: -webkit-linear-gradient(top,#62C462,#51A351);
    background-image: -o-linear-gradient(top,#62C462,#51A351);
    background-image: linear-gradient(to bottom,#62C462,#51A351);
    background-repeat: repeat-x;
    border-color: #51A351 #51A351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover {
    color: white;
    background-color: #51A351;
}

.btn-warning {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #FAA732;
    background-image: -moz-linear-gradient(top,#FBB450,#F89406);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#FBB450),to(#F89406));
    background-image: -webkit-linear-gradient(top,#FBB450,#F89406);
    background-image: -o-linear-gradient(top,#FBB450,#F89406);
    background-image: linear-gradient(to bottom,#FBB450,#F89406);
    background-repeat: repeat-x;
    border-color: #F89406 #F89406 #AD6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450',endColorstr='#fff89406',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-warning:hover {
    color: white;
    background-color: #F89406;
}

.icon-white {
    background-image: url(./images/glyphicons.png);
}

.icon-play {
    background-position: -264px -72px;
}

.icon-ok {
    background-position: -288px 0;
}